{% extends 'layout.html' %}
{% block content %}
{% if displayname %}
{{ displayname }}
<p>Sukupuoli: {{ gender }} </p>
<p>Ikä: {{ age }}</p>
<br>
<p>Tykkää näistä:</p>
<ul>
    {% for item in likes %}
    <li>{{item.item}}</li>
    {% endfor %}
</ul>
<p>Ei tykkää näistä:</p>
<ul>
    {% for item in dislikes %}
    <li>{{item.item}}</li>
    {% endfor %}
</ul>
{% if mode %}
<form action='/requests' method='POST'>
{% else %}
<form action='/browse' method='POST'>
{% endif %}
    <input type='radio' name='choice' value=True required>{% if mode %} Hyväksy {% else %} Viestipyyntö {% endif %}
    <input type='radio' name='choice' value=False required> {% if mode %} Poista {% else %} Ohita {% endif %}
    <input type='radio' name='choice' value='block' required> Estä
    <br>
    <input type='hidden' name='csrf_token' value='{{ session.csrf_token }}'>
    <input type='hidden' name='mode' value='{{ mode }}'>
    <input type='hidden' name='id' value='{{ id }}'>
    <input type='submit' value='Tallenna ja näytä seuraava'>
</form>
{% else %}
{% if mode %}
<p>Ei saapuneita pyyntöjä</p>
{% else %}
<p>Ei yhtään sopivaa kumppaniehdokasta :(</p>
{% endif %}
{% endif %}
{% endblock %}