{% extends 'layout.html' %}
{% block content %}
{{ user }}
<br>
{{ likes }}
<form action='/browse' method='POST'>
    <input type='radio' name='choice' value=True required> Viestipyyntö
    <input type='radio' name='choice' value=False required> Ohita
    <input type='radio' name='choice' value='block' required> Estä
    <br>
    <input type='hidden' name='csrf_token' value='{{ session.csrf_token }}'>
    <input type='hidden' name='id' value='{{ id }}'>
    <input type='submit' value='Tallenna ja näytä seuraava'>
</form>
{% endblock %}