{% extends 'layout.html' %}
{% block content %}
<h2>Tykkäyksesi</h2>
<form action='/my_likes' method='POST'>
    <p>Lisää tai muuta:<br>
    <input type='text' name='item' required></p>
    <input type='radio' name='like' value=True required> Tykkään
    <input type='radio' name='like' value=False required> En tykkää
    <br>
    <input type='hidden' name='csrf_token' value='{{ session.csrf_token }}'>
    <input type='submit' value='Tallenna'>
</form>
<p>Tykkäät näistä:</p>
<ul>
    {% for item in likes %}
    <li>{{item.item}}</li>
    {% endfor %}
</ul>
<p>Et tykkää näistä:</p>
<ul>
    {% for item in dislikes %}
    <li>{{item.item}}</li>
    {% endfor %}
</ul>
{% endblock %}