<h1>NerDate</h1>
<form action='/create' method='POST'>
    <p>Käyttäjätunnus, jolla kirjaudut sisään (ei näy muille)<br>
    <input type='text' name='username' required></p>
    <p>Salasana<br>
    <input type='password' name='password1' required></p>
    <p>Salasana uudelleen<br>
    <input type='password' name='password2' required></p>
    <input type='submit' value='Luo tunnus'>
</form>
{% if error == 'user_exists' %}
<p>Käyttäjätunnus on jo olemassa!</p>
{% endif %}
{% if error == 'pass_missmatch' %}
<p>Salasanat eivät täsmää!</p>
{% endif %}